basic:
  picture_num: 3
  workpath: /Users/Download
  record_path: /Users/Download/record_path
  cookies_path: /Users/Download/cookies_path
  screenshot_path: /Users/Download/screenshot_path

qbinfo:
  qburl: 127.0.0.1:8080
  qbwebuiusername: null
  qbwebuipassword: null

image hosting:
  seq:
    1: ptpimg
    2: picgo
    3: chd
    4: femp
    5: imgbox
    6: pter
    7: emp
    8: smms
  ptpimg:
    apikey: null
  smms:
    apikey: null
  picgo:
    apikey: null
  pter:
    cookie: null
  emp:
    cookie: null
  chd:
    cookie: null

site info:
  pter:
    enable: 1
    uplver: 1
    username: null
    password: null
    cookiefile: /Users/Download/cookies_path/cookie_pter.js
    
path info:
  path1:
    path: '/Volumes/DataCenter/动漫/2022年7月番/6-杜鹃的婚约-Kakkou no Iinazuke-Lilith Raws'
    enable: 0
    type: anime
    collection: 0
    transfer: 1
    doubanurl: https://movie.douban.com/subject/35358650/
    imdb_url: 
    bgm_url: https://bgm.tv/subject/327606
    anidb_url: https://anidb.net/anime/16188
    from_url: https://mikanani.me/Home/Bangumi/2723
    pter: -1,1,2,3
    lemonhd: 0









